    <div class="container">
 <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12" ng-if="!showDish">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showDish">

                <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                    Back to Menu
                </button>
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail"
                         ng-src={{dish.image}} alt="Uthappizza">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                         <span class="label label-danger">{{dish.label}}</span>
                         <span class="badge">{{dish.price | currency}}</span></h2>
                        <p>{{dish.description}}</p>
                    </div>
                </div>                
            </div>
            <div class="col-xs-9 col-xs-offset-1">
                <div>
                <h2>Customer comments</h2>
                       <p>order by:
                         <input type="text" ng-model="sortBy">
                       </p>
                </div>
                <blockquote ng-repeat="comment in dish.comments | orderBy:sortBy">
                    <p>{{comment.rating}} Stars             
                    </p>
                    <p>{{comment.comment}}              
                    </p>
                        <footer>{{comment.author}}, {{comment.date | date:"MM/dd/yyyy 'at' h:mma"}}</footer>
                </blockquote>
            </div>
			<div>{{newComment | json}}</div>
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                 <blockquote ng-show="commentForm.$valid && !commentForm.$pristine">
                    <p>{{newComment.rating}} Stars             
                    </p>
                    <p>{{newComment.comment}}              
                    </p>
                     <footer>{{newComment.author}}, {{newComment.date | date:"MM/dd/yyyy 'at' h:mma"}}</footer>
                </blockquote>
                <form class="form-horizontal" name="commentForm"
                		ng-submit="submitComment()" novalidate>
                        
                        <div class="form-group" ng-class="{ 'has-error' : commentForm.author.$error.required && !commentForm.author.$pristine }">
                        <label for="author" class="col-sm-2 control-label">Name</label>
                       
                             <div class="col-sm-10">
                        <input type="text" class="form-control" id="author" name="author" placeholder="Enter Name"
                                ng-model="newComment.author" required>
                                <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine" class="help-block">Your user name is required.</span>
                            </div>
                         </div>
                         
                    <div class="form-group">
                        <label for="rating" class="col-sm-2 control-label">Rating:</label>
                        <label class="radio-inline"><input type="radio" name="rating" ng-model="newComment.rating" value="1">1</label>
                        <label class="radio-inline"><input type="radio" name="rating" ng-model="newComment.rating" value="2">2</label>
                        <label class="radio-inline"><input type="radio" name="rating" ng-model="newComment.rating" value="3">3</label>
                        <label class="radio-inline"><input type="radio" name="rating" ng-model="newComment.rating" value="4">4</label>
                        <label class="radio-inline"><input type="radio" name="rating" ng-model="newComment.rating" value="5">5</label>
                    </div>
                         
                        <div class="form-group" ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
                        <label for="comment" class="col-sm-2 control-label">Your Feedback</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="comment" name="comment" rows="12" placeholder="Enter your comment..."
                                ng-model="newComment.comment" required></textarea>
                                <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">Your comment is required.</span>
                        </div>
                      
                    </div>
                    

                    
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                             <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit comment</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

